<%= form_for(@thing) do |f| %>
    <% if @thing.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this @thing from being saved:</h2>

            <ul>
                <% @thing.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

	
	<div class="container">
	  <h2>Добавить вещь</h2>
	 
	  <div class="panel panel-default col-xs-3 left">
		<div class="panel-body">
			
				
				<label class="control-label">Название</label>
				<div class="field">				
					<%= f.text_field :name %>	
				</div>
			
					<label class="control-label">Категория</label>
				
				<div class="field">					
					<%= f.text_field :category %>
				</div>
		
				<div class="actions btn">
					<%= f.submit%>
				</div>
			

		</div> <!--container panel body-->
	  </div><!--container panel-->
	</div> <!--container -->
<% end %>
