<h1>Home#index</h1>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<% if current_user %>
    <h1>Welcome, <%= current_user.email %>!</h1>
	<p><%= link_to "Посмотреть все предметы", all_things_path %></p>
    
    <table>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th></th>
            <th></th>
        </tr>
		<% @things.each do |thing| %>
        <tr>
            <td><%= thing.name %></td>
            <td><%= thing.category %></td>
            <td><%= link_to "Редактировать", edit_thing_path(thing) %></td>
            <td><%= link_to "Удалить", thing, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>

    </table>
	<p><%= link_to "Добавить ", new_thing_path %></p>
    <p><%= link_to "Logout", destroy_user_session_url, method: :delete %></p>
    
<% else %>
    <p>Please, <%= link_to "Register", new_user_registration_path %> or <%= link_to "Log in", new_user_session_path %></p>
<% end %>
