<h1>Инвентарь</h1>

<% if current_user %>
<ul><b>Меню:</b>
<li><%= link_to "Инвентарь", root_path %></li>
<li><%= link_to "Поиск предметов для обмена", all_things_path %></li>
<li><%= link_to "Предложения обмена ", trade_show_path %></li>
</ul>
    <table>
		<h3>Мои предметы:</h3>
        <tr>
            <th>Название</th>
            <th>&nbsp;Категория</th>
            <th></th>
        </tr>
		<% @things.each do |thing| %>
        <tr>
            <td><%= thing.name %></td>
            <td><%= thing.category %></td>
            <td><%= link_to "Удалить", thing, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>

    </table>

	<p><%= link_to "Добавить ", new_thing_path %></p>

    <p>email:&nbsp;<%= current_user.email %>&nbsp;<%= link_to "выйти", destroy_user_session_url, method: :delete %></p>
    
<% else %>
    <p><%= link_to "Регистрация", new_user_registration_path %> или <%= link_to "Вход", new_user_session_path %></p>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
