<h1>Инвентарь</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if current_user %>
    
    <table>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th></th>
        </tr>
		<% @things.each do |thing| %>
        <tr>
            <td><%= thing.name %></td>
            <td><%= thing.category %></td>
            <td><%= link_to "Обменять", trade_accept_path %></td>
        </tr>
        <% end %>

    </table>
	<p><%= link_to "Назад ", all_things_path %></p>

    <p><%= link_to "Выйти", destroy_user_session_url, method: :delete %></p>
    
<% else %>
    <p>Please, <%= link_to "Регистрация", new_user_registration_path %> or <%= link_to "Вход", new_user_session_path %></p>
<% end %>
